.MuiContainer-root.header-container {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 88px;
}
.MuiContainer-root.fixed {
  position: sticky;
  z-index: 9999999;
  top: 0;
  background: #fff;
}
.MuiButton-root.header-button {
  color: #505256;
  text-transform: none;
  padding: 8px 16px;
  font-size: 14px;
  line-height: 24px;
  background: #f1f2f4;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  border-radius: 8px;
}
.MuiButton-root.header-button:hover {
  background: #e1e4e8;
}
